        
<table summary="Listing of results from Patient Lookup" id="foo">  
		<thead > 
			<tr> 
				<th class="twoCent" id="patientName">Patient Name</th>
				<th class="twoCent" id="ssn">SSN</th>
				<th class="twoCent" id="rank/Svc">Rank/Svc</th>
				<th class="twoCent" id="age">Age</th>
				<th class="twoCent" id="sex">Sex</th>
				<th class="twoCent" id="classification">Classification</th>
				<th class="twoCent" id="previous Enc">Previous Enc</th>
				<th class="twoCent" id="bmistEnc">BMIST Enc</th>
				<th class="twoCent" id="theaterEnc">Theater Enc</th>
				<th class="twoCent" id="problems">Problems</th>
				<th class="twoCent" id="meds">Meds</th>
				<th class="twoCent" id="allergies">Allergies</th>
				<th class="twoCent" id="labs">Labs</th>
				<th class="twoCent" id="rads">Rads</th>
				<th class="twoCent" id="clinicalNotes">Clinical Notes</th>
				<th class="twoCent" id="prePosApptsClinic">Pre-positioned Appts#/Clinic</th>
				<th class="twoCent" id="prePosTelcons">Pre-positioned Telcons</th>
				<th class="twoCent" id="consults">Consults</th>
				<th class="twoCent" id="SRTSII">Active SRTS II Orders</th>
				<th class="twoCent" id="medicareElig">Medicare Eligibility</th>
				<th class="twoCent" id="specialWorkStat">Special Work Status</th>
				<th class="twoCent" id="activeDualStatus">Active Dual Status</th>
				<th class="twoCent" id="diabetesCPG?">Assigned to Diabetes CPG?</th>
			</tr> 
		</thead> 
		<tbody id="patientSearchResults">
			

			<tr id="Patient ID 2" 
			ondblclick="SearchCtl.dblClick(event, 'Patient ID 2');"
			onclick="SearchCtl.click(event, 'Patient ID 2');"
			>
				<td headers="patientName">Andy</td>
				<td headers="ssn">SSN</td>
				<td headers="rank/Svc">Rank/Svc</td>
				<td headers="age">Age</td>
				<td headers="sex">Sex</td>
				<td headers="classification">Classification</td>
				<td headers="previous Enc">Previous Enc</td>
				<td headers="bmistEnc">BMIST Enc</td>
				<td headers="theaterEnc">Theater Enc</td>
				<td headers="problems">Problems</td>
				<td headers="meds">Meds</td>
				<td headers="allergies">Allergies</td>
				<td headers="labs">Labs</td>
				<td headers="rads">Rads</td>
				<td headers="clinicalNotes">Clinical Notes</td>
				<td headers="prePosApptsClinic">Pre-positioned Appts#/Clinic</td>
				<td headers="prePosTelcons">Pre-positioned Telcons</td>
				<td headers="consults">Consults</td>
				<td headers="SRTSII">Active SRTS II Orders</td>
				<td headers="medicareElig">Medicare Eligibility</td>
				<td headers="specialWorkStat">Special Work Status</td>
				<td headers="activeDualStatus">Active Dual Status</td>
				<td headers="diabetesCPG?">Assigned to Diabetes CPG?</td>
			</tr>

			
			<tr id="Patient ID 3" class="alternate" 
			ondblclick="SearchCtl.dblClick(event, 'Patient_ID 3');"
			onclick="SearchCtl.click(event, 'Patient ID 3');"
			>
				<td headers="patientName">Betty</td>
				<td headers="ssn">SSN</td>
				<td headers="rank/Svc">Rank/Svc</td>
				<td headers="age">Age</td>
				<td headers="sex">Sex</td>
				<td headers="classification">Classification</td>
				<td headers="previous Enc">Previous Enc</td>
				<td headers="bmistEnc">BMIST Enc</td>
				<td headers="theaterEnc">Theater Enc</td>
				<td headers="problems">Problems</td>
				<td headers="meds">Meds</td>
				<td headers="allergies">Allergies</td>
				<td headers="labs">Labs</td>
				<td headers="rads">Rads</td>
				<td headers="clinicalNotes">Clinical Notes</td>
				<td headers="prePosApptsClinic">Pre-positioned Appts#/Clinic</td>
				<td headers="prePosTelcons">Pre-positioned Telcons</td>
				<td headers="consults">Consults</td>
				<td headers="SRTSII">Active SRTS II Orders</td>
				<td headers="medicareElig">Medicare Eligibility</td>
				<td headers="specialWorkStat">Special Work Status</td>
				<td headers="activeDualStatus">Active Dual Status</td>
				<td headers="diabetesCPG?">Assigned to Diabetes CPG?</td>
			</tr>
			<tr id="Patient ID 4" 
			ondblclick="SearchCtl.dblClick(event, 'Patient_ID 4');"
			onclick="SearchCtl.click(event, 'Patient ID 4');"
			>
				<td headers="patientName">Carol</td>
				<td headers="ssn">SSN</td>
				<td headers="rank/Svc">Rank/Svc</td>
				<td headers="age">Age</td>
				<td headers="sex">Sex</td>
				<td headers="classification">Classification</td>
				<td headers="previous Enc">Previous Enc</td>
				<td headers="bmistEnc">BMIST Enc</td>
				<td headers="theaterEnc">Theater Enc</td>
				<td headers="problems">Problems</td>
				<td headers="meds">Meds</td>
				<td headers="allergies">Allergies</td>
				<td headers="labs">Labs</td>
				<td headers="rads">Rads</td>
				<td headers="clinicalNotes">Clinical Notes</td>
				<td headers="prePosApptsClinic">Pre-positioned Appts#/Clinic</td>
				<td headers="prePosTelcons">Pre-positioned Telcons</td>
				<td headers="consults">Consults</td>
				<td headers="SRTSII">Active SRTS II Orders</td>
				<td headers="medicareElig">Medicare Eligibility</td>
				<td headers="specialWorkStat">Special Work Status</td>
				<td headers="activeDualStatus">Active Dual Status</td>
				<td headers="diabetesCPG?">Assigned to Diabetes CPG?</td>
			</tr>
		<tr id="Patient ID 5" class="alternate" 
		ondblclick="SearchCtl.dblClick(event, 'Patient_ID 5');"
		onclick="SearchCtl.click(event, 'Patient ID 5');"
		>
			<td headers="patientName">Dorothy</td>
			<td headers="ssn">SSN</td>
			<td headers="rank/Svc">Rank/Svc</td>
			<td headers="age">Age</td>
			<td headers="sex">Sex</td>
			<td headers="classification">Classification</td>
			<td headers="previous Enc">Previous Enc</td>
			<td headers="bmistEnc">BMIST Enc</td>
			<td headers="theaterEnc">Theater Enc</td>
			<td headers="problems">Problems</td>
			<td headers="meds">Meds</td>
			<td headers="allergies">Allergies</td>
			<td headers="labs">Labs</td>
			<td headers="rads">Rads</td>
			<td headers="clinicalNotes">Clinical Notes</td>
			<td headers="prePosApptsClinic">Pre-positioned Appts#/Clinic</td>
			<td headers="prePosTelcons">Pre-positioned Telcons</td>
			<td headers="consults">Consults</td>
			<td headers="SRTSII">Active SRTS II Orders</td>
			<td headers="medicareElig">Medicare Eligibility</td>
			<td headers="specialWorkStat">Special Work Status</td>
			<td headers="activeDualStatus">Active Dual Status</td>
			<td headers="diabetesCPG?">Assigned to Diabetes CPG?</td>
		</tr>
	</tbody>
</table>