<% @input ({title:'string'}) %>
<div class="widgetHeader">
	<div id="page-title" class="widgetTitle">
		<div class="logo"></div>
		<div class="textShadow"><% .title %></div>
		<div class="textHighlight"><% .title %></div>
		<div class="textMain"><% .title %></div>
	</div>
</div>

