<table>
	<tbody>
		<tr class="twenty bottomBorder"><td class="patName" colspan="2">Cloud,&nbsp;Rose</td></tr>
		<tr class="twelve"><td>From</td><td>11/16/2009&nbsp;at&nbsp;3:00&nbsp;PM</td></tr>
		<tr class="twelve bottomBorder"><td>To</td><td>11/16/2009&nbsp;at&nbsp;3:15&nbsp;PM</td></tr>
		<tr class="sixteen bottomBorder"><td>Type</td><td>Routine</td></tr>
		<tr class="sixteen bottomBorder"><td>Status</td><td>Checkedin</td></tr>
		<tr class="twelve"><td>Call&nbsp;Back&nbsp;Phone</td><td>(123)&nbsp;456&#8209;7890</td></tr>
		<tr class="ten"><td></td><td></td></tr>
		<tr class="twelve"><td>Home&nbsp;Phone</td><td>(123)&nbsp;456&#8209;7890</td></tr>
		<tr class="twelve bottomBorder"><td>Work&nbsp;Phone</td><td>(123)&nbsp;456&#8209;7890</td></tr>
		<tr class="fifty bottomBorder"><td>Reason&nbsp;for&nbsp;Visit</td><td></td></tr>
		<tr class="sixteen bottomBorder"><td>FMP/SSN</td><td>000/000&#8209;00&#8209;0000</td></tr>
		<tr class="sixteen bottomBorder"><td>Checkin&nbsp;Time</td><td>11/16/2009&nbsp;at&nbsp;3:00&nbsp;PM</td></tr>
		<tr class="sixteen bottomBorder"><td>Classification</td><td>Outpatient</td></tr>
		<tr class="thirteen"><td>Clinic</td><td>CHCSII&nbsp;Test&nbsp;Clinic</td></tr>
		<tr class="thirteen"><td>MEPRS&nbsp;Code</td><td>HC2T</td></tr>
		<tr class="thirteen bottomBorder"><td>Provider</td><td>User,&nbsp;Test</td></tr>
		<tr class="fifty bottomBorder"><td>Encounter</td><td></td></tr>
		<tr class="sixteen bottomBorder"><td>MEPRS&nbsp;Description</td><td>CHCSII&#8209;T</td></tr>
		<tr class="sixteen bottomBorder"><td>Appt&nbsp;IEN</td><td>1708</td></tr>
		<tr class="sixteen bottomBorder"><td>Appt&nbsp;ID</td><td>1709</td></tr>
		<tr class="seventyEight"><td>Comments</td><td></td></tr>
	</tbody>
</table>	
